.heading-primary {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-shadow: 2px 2px 2px $color-secondary;

  &--title {
    display: block;
    font-size: 8rem;
    letter-spacing: 1.5rem;
    margin-bottom: 3rem;
    animation: MoveInLeft 1s;
  }

  &--subtitle {
    display: block;
    font-size: 5rem;
    animation: MoveInRight 1s;
  }
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 3rem;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary, $color-secondary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.2);
  }
}

.heading-tertiary {
  text-transform: uppercase;
  color: $color-secondary;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.paragraph {
  font-size: 1.4rem;
  line-height: 2.5rem;
}
