.petcard {
  background-color: rgba(white, 0.8);
  width: 25rem;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #444;
  text-align: center;
  transition: all 0.3s;

  &__photo {
    height: 18rem;
    background-size: cover;
    margin-bottom: 1.5rem;

    clip-path: ellipse(73% 53% at 47% 35%);

    &--1 {
      background-image: linear-gradient(
          to right,
          rgba($color-primary, 0.3),
          rgba($color-secondary, 0.3)
        ),
        url("../img/cat-3.jpg");
    }

    &--2 {
      background-image: linear-gradient(
          to right,
          rgba($color-primary, 0.3),
          rgba($color-secondary, 0.3)
        ),
        url("../img/dog-2.jpg");
    }

    &--3 {
      background-image: linear-gradient(
          to right,
          rgba($color-primary, 0.3),
          rgba($color-secondary, 0.3)
        ),
        url("../img/cat-2.jpg");
    }
  }

  &__heart {
    position: absolute;
    display: inline-block;
    font-size: 2.8rem;
    right: 1rem;
    top: -3rem;
    color: red;
    &:hover {
      animation: Pulse 0.8s linear infinite;
    }
    text-shadow: 2px 2px 2px #444;
  }

  &__contents {
    position: relative;
    font-size: 1.3rem;
    margin-bottom: 1.8rem;
  }

  &__title {
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
  }

  &--hangleft {
    transform: rotate(10deg);
  }

  &--hangright {
    transform: rotate(-10deg);
  }

  &:hover {
    transform: scale(1.2);
  }
}
