.u-center-text {
  text-align: center; }

.u-margin-bottom-large {
  margin-bottom: 6rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

@keyframes LogoMoveRotate {
  0% {
    transform: translateX(30rem) rotate(-35deg);
    opacity: 0; }
  80% {
    transform: translateX(-2rem) rotate(20deg); }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes MoveInLeft {
  0% {
    transform: translateX(20rem); }
  70% {
    transform: translateX(-2rem); }
  100% {
    transform: translate(0); } }

@keyframes MoveInRight {
  0% {
    transform: translateX(-20rem); }
  70% {
    transform: translateX(2rem); }
  100% {
    transform: translate(0); } }

@keyframes MoveUpTop {
  0% {
    transform: translateY(10rem);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes Pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  padding: 2rem; }

.heading-primary {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-shadow: 2px 2px 2px #8d44ad; }
  .heading-primary--title {
    display: block;
    font-size: 8rem;
    letter-spacing: 1.5rem;
    margin-bottom: 3rem;
    animation: MoveInLeft 1s; }
  .heading-primary--subtitle {
    display: block;
    font-size: 5rem;
    animation: MoveInRight 1s; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 3rem;
  display: inline-block;
  background-image: linear-gradient(to right, #c03a2b, #8d44ad);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.4s; }
  .heading-secondary:hover {
    transform: scale(1.2); }

.heading-tertiary {
  text-transform: uppercase;
  color: #8d44ad;
  margin-bottom: 1rem;
  font-size: 1.8rem; }

.paragraph {
  font-size: 1.4rem;
  line-height: 2.5rem; }

.btn:link, .btn:visited {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  font-size: 2rem;
  color: #444;
  text-align: center;
  display: inline-block;
  box-shadow: 0 4px 4px #666;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 8px #666; }

.btn:active {
  transform: translate(0);
  box-shadow: 0 4px 4px #666; }

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  z-index: -2;
  transition: all 0.3s;
  background-color: white; }

.btn:hover::after {
  transform: scale(1.8);
  opacity: 0; }

.btn--animated {
  animation: MoveUpTop 1s; }

.btn--white {
  background-color: white; }

.btn-link {
  font-size: 1.6rem;
  text-decoration: none; }

.collection {
  position: relative;
  height: 3rem; }
  .collection__photo {
    position: absolute;
    box-shadow: 0 0.5rem 0.5rem rgba(141, 68, 173, 0.5);
    border-radius: 3px;
    width: 55%;
    transition: all 0.5s;
    outline-offset: 10px; }
    .collection__photo--1 {
      top: 0;
      left: 0;
      transform: rotate(-15deg); }
    .collection__photo--2 {
      right: 0;
      top: 5rem;
      transform: rotate(10deg); }
    .collection__photo--3 {
      left: 7rem;
      top: 18rem; }
    .collection__photo:hover {
      z-index: 10;
      outline: 5px solid #c03a2b;
      box-shadow: 0 0.8rem 0.8rem rgba(141, 68, 173, 0.5);
      transform: scale(1.2); }
  .collection:hover .collection__photo:not(:hover) {
    transform: scale(0.95);
    filter: grayscale(0.8); }

.petcard {
  background-color: rgba(255, 255, 255, 0.8);
  width: 25rem;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #444;
  text-align: center;
  transition: all 0.3s; }
  .petcard__photo {
    height: 18rem;
    background-size: cover;
    margin-bottom: 1.5rem;
    clip-path: ellipse(73% 53% at 47% 35%); }
    .petcard__photo--1 {
      background-image: linear-gradient(to right, rgba(192, 58, 43, 0.3), rgba(141, 68, 173, 0.3)), url("../../img/cat-3.jpg"); }
    .petcard__photo--2 {
      background-image: linear-gradient(to right, rgba(192, 58, 43, 0.3), rgba(141, 68, 173, 0.3)), url("../../img/dog-2.jpg"); }
    .petcard__photo--3 {
      background-image: linear-gradient(to right, rgba(192, 58, 43, 0.3), rgba(141, 68, 173, 0.3)), url("../../img/cat-2.jpg"); }
  .petcard__heart {
    position: absolute;
    display: inline-block;
    font-size: 2.8rem;
    right: 1rem;
    top: -3rem;
    color: red;
    text-shadow: 2px 2px 2px #444; }
    .petcard__heart:hover {
      animation: Pulse 0.8s linear infinite; }
  .petcard__contents {
    position: relative;
    font-size: 1.3rem;
    margin-bottom: 1.8rem; }
  .petcard__title {
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem; }
  .petcard--hangleft {
    transform: rotate(10deg); }
  .petcard--hangright {
    transform: rotate(-10deg); }
  .petcard:hover {
    transform: scale(1.2); }

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right, rgba(192, 58, 43, 0.3), rgba(141, 68, 173, 0.3)), url("../img/cat-basket-2.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
    animation-name: LogoMoveRotate;
    animation-duration: 1s; }
  .header__logo {
    font-size: 4rem;
    color: white; }
  .header__logo-text {
    font-size: 3rem;
    font-family: "Indie Flower", cursive;
    color: white; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-3 {
    width: calc( ((100% - 2 * 6rem) / 3) * 2 + 6rem); }

.section-pethome {
  margin-top: -15vh;
  padding: 20vh 0; }

.section-adopt {
  background-image: linear-gradient(to right, rgba(192, 58, 43, 0.3), rgba(141, 68, 173, 0.3)), url("../../img/dog-hug.jpg");
  background-size: cover;
  background-position: center;
  margin-top: -15rem;
  padding: 38vh 0;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 80%); }
